<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
</head>
<body>
<!--
<form action="" method="POST"><p>Искать по ID</p> <input type="text" size="4" name="id_search"><a href="filter_id"><button>Поиск</button></a></form>
<form action="" method="POST"><p>Искать по Названию</p> <input type="text" size="20" name="name_search"><a href="filter_name"><button>Поиск</button></a></form>
<form action="" method="POST"><p>Искать по Описанию</p> <input type="text" size="50" name="description_search"><a href="filter_description"><button>Поиск</button></a></form>
-->
<form action="" method="post">
    <p>Search by ID</p>
    <input type="text" name="id_search">
    <p>Search by Name</p>
    <input type="text" name="name_search">
    <p>Search by Description</p>
    <input type="text" name="description_search">
    <br><br>
    <input type="submit">
</form>
<br><br>
<a href="/"><button>Вернуться на главную</button></a>
</body>
</html>