<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Data</title>
</head>
<body>
<h2>PUT NEW DATA TO DATABASE</h2>
<form action="" method="post">
    <p><b>ID</b> <input type="text" size="4" name="ID"> </p>
    <p><b>Название</b> <input type="text" size="30" name="name"> </p>
    <p><b>Описание</b> <input type="text" size="50" name="description"> </p>
    <input type="submit">
</form>
<br><br>
<a href="/"><button>Вернуться на главную</button></a>
</body>
</html>